.primaryButton {
    background-color: transparent;
}

.primaryButtonGradient {
    background-color: transparent;
    height: 36;
    justify-content: center;
    border-radius: 2;
}

.primaryButtonText {
    color: white;
    text-transform: uppercase;
    font-family: "OpenSans-Semibold";
    font-size: 12;
    align-self: center;
    letter-spacing: 1.25;
}
