.introHeader {
    margin: 100 0;
}

.logoMark {
    color: $iosBlue;
    font-size: 92;
    font-weight: 600;
    align-self: center;
}

.slogan {
    color: $iosBlue;
    font-size: 15;
    align-self: center;
}