.stats {
    background-color: #E5E5E5;
    padding: 40 0;
}

.statItem {
    margin-bottom: 20;
}

.itemLabel {
    font-size: 20;
    margin-bottom: 7;
}

.itemPerc {
    font-size: 36;
    font-weight: 600;
}