.scoreCounter {
    padding: 100 0 50 0;
    display: flex;
    justify-content: center;
}

.boxHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boxLabel {
    font-size: 24;
    color: black;
    text-align: center;
}

.boxContent {}

.box {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: flex-end;
}

.miniBox {
    //flex: 1;
    flex-grow: 1;
}

.italicLabel {
    font-style: italic;
    padding-bottom: 4;
}

.label {
    font-size: 28;
}

.scoreLabel {
    color: $iosBlue;
    font-size: 78;
    font-weight: 600;
    position: relative;
    top: 10;
}

.scoreLabelEmpty {
    font-size: 128;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.scoreBar {
    background-color: rgb(212, 212, 212);
    margin-top: 25;
}

.scoreBarFill {
    background-color: $iosBlue;
    height: 9;
}
