.metaInput {
    height: 55;
    padding: 0 21;
    border-bottom-width: 1px;
    border-bottom-color: rgb(226, 223, 220);
    align-items: center;
}

.metaInputLabel {
    font-size: 13;
    color: rgba(0, 0, 0, 0.85);
    text-transform: uppercase;
    letter-spacing: 1.35;
    font-family: "OpenSans";
}

.detailLink {
    margin-top: 3;
    margin-left: 18;
}

.detailLinkText {
    color: rgb(254, 11, 132);
    font-size: 10;
    letter-spacing: 1;
    text-transform: uppercase;
    text-decoration-line: underline;
}

.numberInput {
    font-size: 16;
    color: $fuchsia;
    letter-spacing: 0.13;
    background-color: rgba(198, 193, 186, 0.25);
    padding: 5 13;
}

.extraTextWrapper {

}

.extraText {
    color: $fuchsia;
    font-size: 16;
    letter-spacing: 0.13;
    font-weight: 400;
    font-family: "OpenSans";
}

.extraIcon {
    // top: 5;
    margin-left: 7;
}